---
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
...
